##### Вариант 10
##### Анализ деятельности предприятий легкой промышленности
###### Имеются данные обследования 20 предприятий легкой промышленности по следующим характерным признакам:
###### Х1 - уровень фондоотдачи;
###### Х2 - трудоемкость единицы продукции;
###### Х3 - удельный вес закупочных материалов в общих расходах;
###### Х4 - коэффициент сменности оборудования;
###### Х5 - премии и вознаграждения на одного работника;
###### X6 - удельный вес потерь от брака;
###### Х7 - среднегодовая стоимость основных производственных фондов;
###### Х8 - среднегодовой фонд заработной платы;
###### Х9 - уровень реализуемости продукции;
###### Х10 - индекс постоянного актива (отношение основных средств и прочих внеоборотных активов к собственным сред ствам);
###### Х11 - оборачиваемость оборотных средств;
###### Х12 - непроизводственные расходы.
##### Задача
###### В соответствии с номером варианта выбрать наблюдения нужных переменных, провести факторный анализ, выявить и интерпретировать факторные признаки, указать наиболее благополучные и перспективные предприятия. Моему номеру варианта соответствуют: 1, 3, 4, 5, 6, 8, 9, 10

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import FactorAnalysis

In [17]:
data = pd.read_excel('2.1.8. Данные для д.з. №4.xls')
data = data.iloc[5:25, 1:14]  
data.columns = ['номер предприятия', 'х1', 'х2', 'х3', 'х4', 'х5', 'х6', 'х7', 'х8', 'х9', 'х10', 'х11', 'х12']  # Установка заголовков
data = data.set_index('номер предприятия') 
data.tail()

,х1,х2,х3,х4,х5,х6,х7,х8,х9,х10,х11,х12
номер предприятия,,,,,,,,,,,,
16,1.54,0.51,0.2,1.47,0.24,0.23,17.16,11238,0.62,0.74,153,30.53
17,1.6,0.16,0.08,1.87,4.44,0.16,222.11,43799,0.82,0.81,155.52,12.39
18,1.4,0.27,0.37,1.27,1,0.16,59.4,18452,0.65,0.64,79.92,26.05
19,1.12,0.01,0.35,1.5,1.27,0.15,391.27,7888,0.84,0.51,84.6,17.26
20,1.22,0.42,0.26,1.09,0.54,0.1,48.41,20122,0.69,0.67,138.24,22.26